<h1>Gestión de Usuarios</h1>

<form
  (submit)="
    createUser(username.value, password.value, role.value);
    $event.preventDefault()
  "
>
  <input
    #username
    type="text"
    placeholder="Correo Electrónico (ups.edu.ec)"
    required
  />
  <input #password type="password" placeholder="Contraseña" required />
  <select #role>
    <option value="operator">Operador</option>
    <option value="admin">Administrador</option>
  </select>
  <button type="submit">Crear Usuario</button>
</form>

<div *ngIf="successMessage" class="alert alert-success">
  {{ successMessage }}
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>

<ul>
  <li *ngFor="let user of users">{{ user.username }} - {{ user.role }}</li>
</ul>
