<h1>Gestión de Usuarios</h1>

<form
  (submit)="
    createUser(username.value, password.value, role.value);
    $event.preventDefault()
  "
>
  <input
    #username
    type="text"
    placeholder="Correo Electrónico (ups.edu.ec)"
    required
  />
  <input #password type="password" placeholder="Contraseña" required />
  <select #role>
    <option value="operator">Operador</option>
    <option value="admin">Administrador</option>
  </select>
  <button type="submit">Crear Usuario</button>
</form>

<div *ngIf="successMessage" class="alert alert-success">
  {{ successMessage }}
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>

<table>
  <tr *ngFor="let user of users">
    <td>{{ user.username }}</td>
    <td>{{ user.role }}</td>
    <td>
      <button (click)="editUser(user)">Editar</button>
    </td>
  </tr>
</table>

<div *ngIf="selectedUser">
  <h2>Editar Usuario</h2>
  <form
    (submit)="
      updateUser(selectedUser.id, updatedUsername.value);
      $event.preventDefault()
    "
  >
    <input
      #updatedUsername
      [value]="selectedUser.username"
      type="text"
      placeholder="Nuevo Correo Electrónico"
      required
    />
    <button type="submit">Guardar Cambios</button>
  </form>
</div>
