<!-- dashboard.component.html -->
<h1>Dashboard del Operador</h1>

<div *ngIf="sensorData.length > 0; else noData">
  <table>
    <thead>
      <tr>
        <th>Valor del Sensor</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of sensorData">
        <td>{{ data.sensorValue }}</td>
        <td>{{ data.timestamp | date : "short" }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noData>
  <p>No hay datos disponibles del sensor.</p>
</ng-template>
